body {
    background: gray;
    margin-top: 100px;
}


.lengua {
    margin-left: 5%;
}

.nav-link {
    color: white !important;
}

.nav-link:hover {
    color: aqua !important;
}

.div-cards {
    justify-content: center;
    border         : 3px solid gray;
    display        : inline-block;
    flex-wrap      : wrap;
    width          : 300px;
    height         : 450px;
    margin         : 10px;
    margin-top     : 150px;
    padding        : 5px;
    border-radius  : 10px;
    background     : rgb(222, 191, 228);
}

.div-header {
    text-align: center;
    color     : #066A62;
    padding   : 10px;
    font-size : 20px;
}

.div-foto {
    width     : 100%;
    height    : 200px;
    margin-top: 10px;
}

.div-tags {
    word-break: break-all;
    word-wrap : break-word;
    background: #6E4D3D;
    color     : #8598CC;
    padding   : 10px;
}

.div-price {
    display        : flex;
    justify-content: space-between;
    flex-wrap      : wrap;
    margin-top     : 2%;
    padding        : 10px;
    height         : 30px;
}

span {
    margin-top: 13px;
}