.a-index {
    float       : right;
    margin-right: 70px;
    margin-top  : 40px;
    color       : rgb(7, 43, 0);
    font-size   : 40px;
}

.a-index:hover {
    color          : rgb(7, 43, 0);
    text-decoration: none;
}