.div-list-ads {
    margin-top: 150px;
}

.p-list{
    font-size: 20px;
}

.miTabla {
    background: #222222;
    margin-top: 50px;
}

.miTr>th {
    color: #00ad5f;
}

.miThead {
    background: #393939;
    border    : 10px solid #393939;
}

.miTr>td {
    color: #808080;
}

.miTbody {
    border: 2px solid #222222;
}

.div-examples {
    margin-top: 50px;
}