<% include header.html %>

<div class="container">

    <div class="div-list-ads">
        <h1><%= __('Announcement list') %> </h1>
        <p class="p-list"><%= __('List') %> : <%= advertisements.length %> <%= __('of') %> <%= total %> </p>
    </div>

    <table class="table miTabla">
        <thead class="miThead">
            <tr class="miTr">
                <th><%= __('Name') %></th>
                <th><%= __('Sale') %></th>
                <th><%= __('Price') %></th>
                <th><%= __('Photo') %></th>
                <th><%= __('Tags') %></th>
                <th>#</th>
            </tr>
        </thead>
        <% advertisements.forEach(ads =>{%>
        <tbody class="miTbody">
            <tr class="miTr">
                <td><%= ads.name %></td>
                <td><%= ads.sale %></td>
                <td><%= ads.price %></td>
                <td><%= ads.photo %></td>
                <td><%= ads.tags %></td>
                <td><%= ads._id %></td>
            </tr>
        </tbody>
        <% }) %>
    </table>
    <div class="div-examples">
        <p><%= __('Examples') %>:</p>
        <ul>
            <li><a href="?"><%= __('All') %> (max. 10)</a></li>
            <li><a href="?skip=1&limit=3"><%= __('Page') %> </a></li>
            <li><a href="?sort=price-1"><%= __('Descending price order') %> </a></li>
            <li><a href="?sort=price1"><%= __('Ascending price order') %></a></li>
            <li><a href="?tags=work"><%= __('By tag') %> "work"</a></li>
            <li><a href="?fields=name"><%= __('By name field') %> </a></li>
            <li><a href="?price=50-10000&sale=false&sort=price-1"><%= __('Combined consultation') %> </a></li>
        </ul>
    </div>
</div>

</body>

<% include footer.html %>